<html>
<head>
    <title>CHATBOT</title>
</head>
<body>
<h1>CHATBOT</h1>
<form>
<!--    <label for="text">You:</label><br>-->
<!--    <input type="text" id="text" name="text"><br>-->
    <button id=record>Start</button>
    <button id=stopRecord disabled>Stop</button>
    {{username}}
</form>
<script>

    navigator.mediaDevices.getUserMedia({audio:true})
      .then(stream => {handlerFunction(stream)})


     function handlerFunction(stream) {
            rec = new MediaRecorder(stream);
            rec.ondataavailable = e => {
              audioChunks.push(e.data);
              if (rec.state == "inactive"){
                let blob = new Blob(audioChunks,{type:'audio/mpeg-3'});
                sendData(blob)
              }
              }
      }
      function sendData(data) {
            var fd=new FormData();
          fd.append("audio_data",data, 'file.mp3');
            fetch("/", {
                method: "post",
                body: fd
            });
      }
      record.onclick = e => {
          console.log('I was clicked')
          record.disabled = true;
          record.style.backgroundColor = "blue"
          stopRecord.disabled=false;
          audioChunks = [];
          rec.start();
        }
      stopRecord.onclick = e => {
        console.log("I was clicked")
        record.disabled = false;
        stop.disabled=true;
        record.style.backgroundColor = "red"
        rec.stop();
      }


</script>
</body>
</html>