<html>
<head>
    <title>CHATBOT</title>
</head>
<body>
<h1>CHATBOT</h1>
<form>
<!--    <label for="text">You:</label><br>-->
<!--    <input type="text" id="text" name="text"><br>-->
    <button id=record>Start</button>
    <button id=stopRecord type="button" disabled>Stop</button> <br>
</form>
<script>

    navigator.mediaDevices.getUserMedia({audio:true})
      .then(stream => {handlerFunction(stream)})

     function handlerFunction(stream) {
            rec = new MediaRecorder(stream);
            rec.ondataavailable = e => {
              audioChunks.push(e.data);
              if (rec.state == "inactive"){
                let blob = new Blob(audioChunks,{type:'audio/mpeg-3'});
                sendData(blob)
              }
              }
      }
      function sendData(data) {
            var fd=new FormData();
          fd.append("audio_data",data, 'file.mp3');
            fetch("/", {
                method: "post",
                body: fd
            }).then(response => {
                response.json().then(resp => {
                var h5 = document.createElement('h4');
                    h5.textContent = 'Me: ' + resp.meText;
                    document.body.appendChild(h5);
                   var h1 = document.createElement('h4');
                    h1.textContent = 'BOT: ' + resp.botText;
                    document.body.appendChild(h1);
                });
            });
      }
      record.onclick = e => {
          console.log('I was clicked')
          record.disabled = true;
          record.style.backgroundColor = "blue"
          stopRecord.disabled=false;
          audioChunks = [];
          rec.start();
        }
      stopRecord.onclick = e => {
        console.log("I was clicked")
        record.disabled = false;
        stop.disabled=true;
        record.style.backgroundColor = "red"
        rec.stop();
      }


</script>
</body>
</html>